@if (IsToggle)
{
<table>
   <tbody>
      @if (Items.Count()>2)
      {
         @foreach (var item in Items)
          {
            <tr>@item.Name</tr>
          }
                <tr><i class="bi bi-arrows-collapse" @onclick="Toggle"></i></tr>
            }
            else
            {
              @foreach (var item in Items)
              {
              <tr>@item.Name</tr>
              }
            }

   </tbody>
    </table>
}
else 
{
    if (Items.Count() <= 2)
    {
        <table>
            <tbody>
                @foreach (var item in Items)
                {
                    <tr>@item.Name</tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table>
           <tbody>
              @for (var i = 0; i < 2; i++)
              {
                  
              <tr>@Items[i].Name</tr>
              }
              <tr><i class="bi bi-arrows-expand" @onclick="Toggle"></i></tr>
           </tbody>
        </table>
    }
}