<button type="button" class="btn btn-dark" @onclick="Toggle">Show</button>
@if (IsToggle)
{
<table>
   <tbody>
      @foreach (var item in Items)
      {
      <tr>@item.Name</tr>
      }
   </tbody>
</table>
}
else { }