@inherits LayoutComponentBase

<PageTitle>Bills Database</PageTitle>

<div class="page">
<div style="background-image:none;background-color:cadetblue;" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <a href="https://github.com/exzzy22/BillsCRUD_GUI" target="_blank"><img src="Content/GitHub-Mark-64px.png" alt="Github project link" style="width:50px;height:50px;"></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
